@media (min-width: 350px)  and (max-width: 1768px) and ( min-height:640px) and (max-height:1025px) {
    *{

        padding: 0;
        margin: 0;
    }
    
    .profilePicture{
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
    
    .profilePicture img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }  
}

